# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Bsi\Desktop\2ALInfo4\Technologies Web 2.0\ProjetSymfony\ClubEsprit\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
